:root {
  --padding-work: 0 24px 0 24px;
  --white-color: white;
}

a {
  text-decoration: none;
}

.body {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.header {
  background-color: #3c3a39;
  width: 100%;
  height: 56px;
}

.toolbar {
  padding-right: 15px;
}

.headline {
  background-color: #1c1a19;
  padding: 100px 24px 150px;
  background-image: url("img/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.portfolio-img {
  display: none;
}

.portfolio-img-box {
  display: none;
}

.headlineintro {
  font-family: 'Crete Round', serif;
  font-style: normal;
  color: #ff6b00;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
}

.headlinejob {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.headlinescript {
  bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--white-color);
}

.socialmediabox {
  width: 150px;
  height: 40px;
}

.socialmediaicons {
  font-size: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  place-content: space-between;
}

.work-section {
  margin: 0;
  background-color: var(--white-color);
  padding-bottom: 120px;
}

.RWbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.RWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 107px;
  height: 83px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 52px;
  color: #091e42;
}

.workline {
  width: 327px;
  border: 1px solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.workone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: var(--padding-work);
  height: 568px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.workphoto {
  padding: var(--padding-work);
  padding-top: 30px;
}

.first-Rwork {
  padding: var(--padding-work);
  margin: 20px 0;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.work-dicreption {
  padding: var(--padding-work);
  justify-content: center;
  margin-top: 0;
  margin-bottom: 1em;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.languages-Fwork {
  display: flex;
  margin-bottom: 1em;
  padding: var(--padding-work);
  order: 2;
  flex-grow: 0;
}

.see-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 105px;
  height: 48px;
  margin-left: 25px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.see-project {
  text-decoration: none;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 25px;
  height: 40px;
  order: 0;
  flex-grow: 0;
}

.diffrent-work {
  display: grid;
  grid-template-rows: 6fr 6fr 6fr 6fr 6fr 6fr;

  /* justify-content: space-evenly; */
  row-gap: 50px;
  padding-top: 20px;
  height: 2580px;
  width: 305px;
  border-radius: 0;
  justify-content: center;
  margin-right: 9;
  margin-left: 9%;
  margin-bottom: 0;
}

.worktwo {
  display: flex;
  flex-direction: column;
  height: 350px;
  border-radius: 0;
  background-image: url("img/Placeholder1.svg");
  justify-content: flex-end;
  gap: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  margin-top: 50px;
}

.work-box-two {
  margin-left: 16px;
}

.work-two-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  /* padding-left: 20px;
  padding-top: 20px; */
  color: #fff;
  flex: none;
  order: 0;
  margin: 0;

  /* margin: 30px 20px 0 15px; */
}

.work-two-dis {
  font-family: 'Inter', sans-serif;

  /* margin-left: 15px; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0;
}

.languages-work {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 40px;
  margin-bottom: 0;
  margin-right: 70px;
  margin-top: 0;
  list-style-type: none;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.code-name {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  color: #fff;
}

.html-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
}

.bootstrap-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.ruby-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  height: 20px;
  background: rgba(255, 255, 255, 0.24);
  flex: none;
  order: 2;
  flex-grow: 0;
}

.see-two {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  border: none;
  order: 3;
  background-color: #ff6b00;
}

.see-two-box {
  flex-direction: row-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  margin-right: 0;
  order: 3;
  background-color: #ff6b00;
  width: 350px;
  height: 50px;
  background-size: cover;
}

.aboutmyself {
  background: #1c1a19;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
  background-image: url("img/Group1.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.aboutmeintro {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 30px;
  margin-bottom: 0;
}

.aboutmescript {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.resume {
  text-decoration: none;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  background-color: #ff6b00;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  order: 2;
  width: 161px;
  height: 48px;
}

.skills {
  border-top: 1px solid #fff;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-evenly;
  row-gap: 50px;
  padding-bottom: 50px;
}

.lan-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 0;
}

.languages-box-min {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
  gap: 12px;
}

.languages {
  font-family: 'Meera Inimai', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.logo1 {
  width: 18px;
  height: 18px;

  /* Theme 3 / Primary 1 */

  background: #ff6b00;
  transform: rotate(-45deg);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.lanhub {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 12px;
  margin-top: 0;
  margin-bottom: 0;
  gap: 8px;
  width: 186px;
  height: 216px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.logo2 {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.logo3 {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* contact form */

.footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 58px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.footer-intro {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ul-form {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 25px;
  border: none;
  margin: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  max-width: 327px;
}

.ul-form input {
  border: none;
  border-bottom: 1px solid;
  width: 100%;
}

.ul-form label {
  display: none;
}

.form-name {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */
  padding-left: 20px;
  display: flex;
  align-items: center;

  /* Theme 3 / Neutral 6 */

  color: #979493;
}

.form-Email {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */
  padding-left: 20px;
  display: flex;
  align-items: center;

  /* Theme 3 / Neutral 6 */

  color: #979493;
}

.textarea-box {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */
  padding-left: 20px;
  display: flex;
  align-items: center;

  /* Theme 3 / Neutral 6 */

  color: #979493;
}

textarea {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 20px;
  height: 114px;
  padding-right: 50px;
  border: none;
  color: #3c3a39;
  background: #fbf8f7;
}

.submit-form {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: none;
  color: white;
  width: 131px;
  height: 48px;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
}
#hiddenBtn {
  display: none;
}
#error {
  order: 2;
  font-family: 'Inter', sans-serif;
  border-radius: 20px;
  font-style: normal;
  font-weight: 700;
  font-size:14px;
  color:rgb(228, 52, 52);

}

.form-bar {
  border-top: 3px solid #dfe1e6;
}

.socialmediaicons-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0 35px 0 35px;
  font-size: 1em;
}

.insta {
  color: #756a66;
}

.aboutme-img {
  display: none;
}

button:hover,
button:focus {
  background-color: #fff;
  color: #f55800;
  border: 1px solid #f55800;
}

button:active {
  color: #f4f1f0;
  background: #e05304;
}

@media (max-width: 768px) {
  .hamburger {
    cursor: pointer;
  }

  .hamburger.active {
    width: 40px;
    height: 30px;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    margin-right: 15px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #67798e;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #67798e;
  }

  span.bars.active {
    width: 10px;
    height: 10px;
  }

  .ul-nav {
    position: fixed;
    left: -100%;
    display: flex;
    top: 10px;
    padding-top: 20px;
    gap: 24px;
    flex-direction: column;
    background: #3c3a39;
    width: 89.4%;
    height: 100vh;
    font-size: 27px;
    transition: 0.3s;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
  }

  .nav-li {
    border-bottom: solid 1px #6f6c6b;
    width: 90%;
  }

  .nav-link {
    color: white;
    margin-left: 20px;
    width: 80%;
  }

  .ul-nav.active {
    left: 0;
  }

  .nav-mail {
    display: none;
  }

  .container {
    position: fixed;
    height: 55px;
    display: flex;
    place-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #3c3a39;
  }

  .name {
    text-decoration: none;
    color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    padding-left: 15px;
  }

  .name.active {
    display: none;
  }

  .main-popup {
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: rgb(0, 0, 0, 80%);
    backdrop-filter: blur(3px);
  }

  .popup {
    margin: 6% 5%;
    margin-bottom: 10%;
    height: 87vh;
    background-color: #fff;
    padding: 10px;
  }

  .popup-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .popup-header {
    display: flex;
    gap: 20px;
    height: 4em;
  }

  .popup-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0;
    color: #172b4d;
    margin-top: 20px;
  }

  .popup-title-2 {
    display: none;
  }

  .lorem-1 {
    display: none;
  }

  .close-button {
    border: none;
    background-color: #fff;
    font-size: 35px;
    color: #67798e;
    margin-top: 20px;
  }

  .pop-name {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #3c3a39;
    border: 1px solid;
    padding: 10px;
  }

  .popup-lan-box {
    color: #1c1a19;
  }

  .popup-image {
    height: 165px;
    width: 100vw;
  }

  .popgap {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  .lorem {
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .popuplinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .live {
    border: none;
    background-color: #ff6b00;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    width: 140px;
  }
}

/* /////// display disktop media query ////////// */

@media (min-width: 768px) {
  a {
    text-decoration: none;
  }

  .main-popup {
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: rgb(0, 0, 0, 80%);
    backdrop-filter: blur(3px);
  }

  .popup {
    margin: 7% 6%;
    margin-bottom: 10%;
    height: 70vh;
    background-color: #fff;
    padding: 20px;
  }

  .popup-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .popup-header {
    display: flex;
    justify-content: space-between;
    height: 4em;
  }

  .popup-title {
    display: none;
  }

  .popup-title-2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0;
    color: #172b4d;
    margin-top: 20px;
  }

  .close-button {
    border: none;
    padding: 0%;
    background-color: #fff;
    font-size: 40px;
    color: #67798e;
    margin-top: 20px;
  }

  .pop-name {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #3c3a39;
    border: 1px solid;
    padding: 10px;
  }

  .popup-lan-box {
    color: #1c1a19;
  }

  .desktop-popup {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .popup-image {
    height: 50vh;
    width: 60vw;
  }

  .popup-end {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .lorem {
    display: none;
  }

  .lorem-1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .popuplinks {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .live {
    border: none;
    background-color: #ff6b00;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    width: 140px;
  }

  .container {
    position: fixed;
    height: 100px;
    display: flex;
    place-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #3c3a39;
  }

  .name {
    text-decoration: none;
    color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 25px;
    line-height: 24px;
    height: 24px;
    margin-left: 110px;
  }

  .toolbar {
    display: none;
  }

  .ul-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;

    /* gap: 8px; */
    list-style: none;
    margin-right: 60px;
    gap: 32px;
  }

  .li-nav {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .nav-mail {
    height: 25px;
  }

  .headline {
    display: flex;
    background-image: none;
    flex-direction: row;
    padding-right: 0;
    padding-top: 0;
    padding-left: 0;
    max-width: 100%;
    justify-content: space-between;
    gap: 100px;
  }

  .portfolio-img-box {
    display: flex;
  }

  .portfolio-img {
    display: flex;
    max-width: 100%;
    max-height: auto;
  }

  .portfolio-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
    padding-left: 40px;
  }

  .containerheadline {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 566px;
    order: 1;
  }

  .socialmediabox {
    display: flex;
    order: 0;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 11em;
  }

  .socialmedia-minebox {
    display: flex;
    flex-direction: row;
  }

  .socialmediaicons {
    flex-direction: column;
    gap: 20px;
    font-size: 1.7em;
    margin-top: 0;
  }

  .insta {
    color: #756a66;
  }

  .headlineintro {
    font-size: 72px;
    line-height: 82px;
    margin: 0;
  }

  .headlinejob {
    font-size: 32px;
    line-height: 44px;
    margin: 0;
  }

  .headlinescript {
    font-size: 20px;
    line-height: 32px;
    margin: 0;
    display: flex;
  }

  .rwboxbig {
    display: flex;
    flex-direction: column;

    /* align-items: center; */
    padding: 130px 24px;
    gap: 114px;
    padding-bottom: 0;
  }

  .RWbox {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 24px;
    width: 100%;
    height: 102px;
  }

  .RWork {
    display: flex;

    /* align-items: center; */
    margin: 0;
    font-size: 32px;
    line-height: 52px;
  }

  .workline {
    justify-content: flex-end;
    border-left: #fbf8f7;
    border-right: #fbf8f7;
    border-bottom: #fbf8f7;
    padding-bottom: 26px;
    width: 70%;
    flex: 0 1 auto;
  }

  .workone {
    display: flex;
    flex-direction: row;
    width: 1155;
    height: 448px;
    margin: 20px auto;
    padding: 0;
    margin-bottom: 0;
  }

  .workphoto {
    padding: 0;
    order: 0;
    width: 684px;
    height: 448px;
  }

  .work-dis {
    order: 1;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 0;
    width: 448px;
    padding-left: 24px;
  }

  .first-Rwork {
    font-size: 40px;
    line-height: 52px;

    /* width: 50%; */
    padding: 0;
    width: 100%;
    height: auto;
  }

  .work-dicreption {
    font-size: 20px;
    line-height: 28px;
    padding: 0%;
  }

  .languages-Fwork {
    padding: 0%;
  }

  img:hover {
    transform: scale(1.1);
    transition: all 0.4s ease;
  }

  .see-project {
    /* padding-left: 10px; */
    height: 48px;
    width: 124px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;
  }

  .diffrent-work {
    display: grid;
    max-height: 900px;
    grid-template-rows: none;
    grid-template-columns: 3fr 3fr 3fr;
    justify-content: space-around;
    column-gap: 24px;
    row-gap: 0;

    /* padding-top: 24px;
  padding-left: 180px;
  padding-right: 180px; */
    margin: 0 auto;
    padding-bottom: 20px;
    width: 400px;
    max-width: 1155px;
  }

  .worktwo {
    display: none;
  }

  .two-disktop {
    display: flex;
    flex-direction: column;
    background-image: url("img/img-worktwo.svg");
    height: 435px;
    width: 369px;
  }

  .work-box-two {
    display: none;
  }

  .see-two-box {
    height: 15%;
    width: 100%;
    align-items: center;
  }

  .workthree {
    display: flex;
    flex-direction: column;
    background-image: url("img/img-workthree.svg");
    height: 435px;
    width: 369px;
  }

  .see-three-box {
    display: none;
    transition: display 10s;
  }

  .work-box-three {
    /* padding-left: 10px; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .work-three-title {
    padding: 0;
    margin: 0;
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .work-three-dis {
    max-width: 337px;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    margin: 0;
    color: #fff;
  }

  .workfour {
    display: flex;
    flex-direction: column;
    background-image: url("img/img-workthree.svg");
    height: 435px;
    width: 369px;
  }

  .worksec {
    height: 435px;
    width: 369px;
    display: flex;
    flex-direction: column;
    background-image: url("img/img-work-c.svg");
  }

  .aboutme {
    background-image: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
  }

  .aboutmescript-box {
    /* width: 30%; */
    max-width: 466px;
    gap: 24px;
    padding-left: 142px;
  }

  .aboutme-img {
    display: flex;
    order: 1;
    max-width: 672.39px;
  }

  .aboutmeintro {
    font-size: 72px;
    line-height: 82px;
  }

  .aboutmescript {
    font-size: 20px;
    line-height: 32px;
    max-width: 566px;

    /* max-Height:148px; */
  }

  .resume {
    text-decoration: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    background-color: #ff6b00;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 161px;
    height: 48px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    padding-left: 141px;
    padding-right: 141px;
    height: 596px;
    padding-top: 138px;
  }

  .languages-box-min {
    /* font-size: 325x; */
    line-height: 44px;
  }

  .lanhub {
    font-size: 25px;
    line-height: 43px;
    padding-top: 0;
  }

  .footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    height: 450px;
    margin: 0;
    padding-left: 0;
    padding-bottom: 0;
  }

  .footer-intro {
    display: flex;
    flex-direction: column;
    margin: 0%;
    max-height: 256px;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
    max-width: 455px;
    margin-top: 0;
    text-align: left;
  }

  .form {
    width: 40%;
    height: 330px;
    align-items: flex-start;
  }

  .ul-form {
    /* width: 660px; */
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form-name {
    align-items: flex-start;
  }

  input[type=text],
  select {
    width: 200%;
  }

  input[type=email],
  select {
    width: 200%;
  }

  .textarea-box {
    padding: 0;
  }

  .input-textarea {
    padding-left: 19px;
  }

  textarea {
    width: 410px;
    height: 150px;
  }

  .form-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 26px;
  }

  .socialmediaicons-footer {
    margin: 0;
    flex-direction: row;
    gap: 21px;
    font-size: 22px;
    list-style-type: none;
    display: flex;
    place-content: space-between;
  }

  .cards:hover .work-box-two {
    display: none;
  }

  .cards {
    transition: 1s;
  }

  .cards:hover .see-three-box {
    display: flex;
  }

  .cards:hover {
    background: url("img/img-worktwo.svg");
  }
}
